*.suo
*.opendb
*.db
/SnailAnalyst/GeneratedFiles/Release
*.obj
*.ipch
*.tlog
/output/ticket/20191101/*
/output/data/*
/SnailAnalyst/Release/*.asm
/output/per
/output/finance/*
/output/crash/*.dmp
/edit/GeneratedFiles
temp
finance
per
*.script
/output/report
/output/script/0/1/*.scripts
/output/script/bollc/1
